/* Estilos para el Dashboard */

.DashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.Section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.Section h2 {
  margin-bottom: 10px;
}

.Section p {
  margin-bottom: 20px;
}